.main-area {
    position: relative;
}

.map-sec {
    margin: 0 auto;
    position: relative;
    width: 740px;
	background-color:#efefef;
}

.suite-building {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.suite-building-1 {
    left: 407px;
    top: 372px;
    background: url(hover/suite-building-1.png) no-repeat left top;
    width: 209px;
    height: 178px;
}

.suite-building-1:hover {
    opacity: 1;
}

.suite-building-2 {
    left: 401px;
    top: 119px;
    background: url(hover/suite-building-2.png) no-repeat left top;
    width: 218px;
    height: 109px;
}

.suite-building-2:hover {
    opacity: 1;
}

.suite-building-3 {
    left: 187px;
    top: 136px;
    background: url(hover/suite-building-3.png) no-repeat left top;
    width: 214px;
    height: 303px;
}

.suite-building-3:hover {
    opacity: 1;
}

.suite-building-4 {
    left: 187px;
    top: 419px;
    background: url(hover/suite-building-4.png) no-repeat left top;
    width: 222px;
    height: 131px;
}

.suite-building-4:hover {
    opacity: 1;
}

.suite {
    background: #FFF;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.suite:hover {
    opacity: 0.5;
}

.building1 {
    left: 47px;
    top: 241px;
    width: 65px;
    height: 98px;
}

.building2 {
    left: 32px;
    top: 77px;
    width: 31px;
    height: 74px;
}

.building3 {
    left: 107px;
    top: 80px;
    width: 75px;
    height: 61px;
}

.building4 {
    left: 204px;
    top: 80px;
    width: 75px;
    height: 61px;
}

.building5 {
    left: 287px;
    top: 80px;
    width: 75px;
    height: 61px;
}

.building6 {
    left: 397px;
    top: 80px;
    width: 75px;
    height: 61px;
}

.building7 {
    left: 564px;
    top: 91px;
    width: 75px;
    height: 61px;
}

.building8 {
    left: 486px;
    top: 133px;
    width: 46px;
    height: 87px;
}

.building9 {
    left: 564px;
    top: 164px;
    width: 75px;
    height: 61px;
}

.building10 {
    left: 465px;
    top: 242px;
    width: 58px;
    height: 60px;
}

.building11 {
    left: 564px;
    top: 237px;
    width: 75px;
    height: 61px;
}

.building12 {
    left: 486px;
    top: 325px;
    width: 46px;
    height: 87px;
}

.building13 {
    left: 564px;
    top: 310px;
    width: 75px;
    height: 61px;
}

.building14 {
    left: 564px;
    top: 384px;
    width: 75px;
    height: 61px;
}

.building15 {
    left: 544px;
    top: 490px;
    width: 48px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building16 {
    left: 604px;
    top: 485px;
    width: 48px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building17 {
    left: 443px;
    top: 497px;
    width: 75px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building18 {
    left: 378px;
    top: 404px;
    width: 75px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building19 {
    left: 363px;
    top: 505px;
    width: 53px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building20 {
    left: 288px;
    top: 404px;
    width: 53px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building21 {
    left: 293px;
    top: 511px;
    width: 53px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building22 {
    left: 180px;
    top: 414px;
    width: 53px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building23 {
    left: 185px;
    top: 521px;
    width: 53px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building24 {
    left: 100px;
    top: 426px;
    width: 53px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building25 {
    left: 51px;
    top: 534px;
    width: 75px;
    height: 58px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building26 {
    left: 39px;
    top: 378px;
    width: 55px;
    height: 58px;
}

.building27 {
    left: 36px;
    top: 230px;
    width: 55px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building28 {
    left: 107px;
    top: 223px;
    width: 55px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building29 {
    left: 187px;
    top: 216px;
    width: 75px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building30 {
    left: 292px;
    top: 206px;
    width: 55px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building31 {
    left: 365px;
    top: 200px;
    width: 55px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building32 {
    left: 438px;
    top: 193px;
    width: 55px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building33 {
    left: 526px;
    top: 182px;
    width: 75px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building33 {
    left: 526px;
    top: 182px;
    width: 75px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building34 {
    left: 580px;
    top: 324px;
    width: 75px;
    height: 75px;
}

.building35 {
    left: 490px;
    top: 360px;
    width: 55px;
    height: 75px;
}

.building36 {
    left: 425px;
    top: 330px;
    width: 62px;
    height: 42px;
}

.building37 {
    left: 320px;
    top: 318px;
    width: 75px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building38 {
    left: 197px;
    top: 328px;
    width: 55px;
    height: 75px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building39 {
    left: 100px;
    top: 362px;
    width: 66px;
    height: 39px;
}

.building40 {
    left: 42px;
    top: 393px;
    width: 55px;
    height: 75px;
}

.building41 {
    left: 643px;
    top: 431px;
    width: 75px;
    height: 55px;
}

.building42 {
    left: 667px;
    top: 316px;
    width: 39px;
    height: 75px;
}

.building43 {
    left: 617px;
    top: 282px;
    width: 49px;
    height: 42px;
}

.building44 {
    left: 680px;
    top: 187px;
    width: 29px;
    height: 69px;
}

.building45 {
    left: 626px;
    top: 197px;
    width: 50px;
    height: 47px;
}

.building46 {
    left: 548px;
    top: 280px;
    width: 50px;
    height: 47px;
}

.building47 {
    left: 548px;
    top: 196px;
    width: 50px;
    height: 47px;
}

.building48 {
    left: 490px;
    top: 280px;
    width: 50px;
    height: 47px;
}

.building49 {
    left: 490px;
    top: 196px;
    width: 50px;
    height: 47px;
}

.building50 {
    left: 427px;
    top: 200px;
    width: 25px;
    height: 56px;
}

.building51 {
    left: 427px;
    top: 273px;
    width: 29px;
    height: 69px;
}

.building52 {
    left: 346px;
    top: 243px;
    width: 49px;
    height: 28px;
}

.building53 {
    left: 346px;
    top: 304px;
    width: 49px;
    height: 28px;
}

.building54 {
    left: 209px;
    top: 304px;
    width: 49px;
    height: 28px;
}

.building55 {
    left: 268px;
    top: 304px;
    width: 49px;
    height: 28px;
}

.building56 {
    left: 228px;
    top: 633px;
    width: 49px;
    height: 24px;
}

.building57 {
    left: 239px;
    top: 550px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building58 {
    left: 255px;
    top: 499px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building59 {
    left: 277px;
    top: 431px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building60 {
    left: 297px;
    top: 372px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building61 {
    left: 313px;
    top: 320px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building62 {
    left: 329px;
    top: 271px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building63 {
    left: 355px;
    top: 195px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building64 {
    left: 379px;
    top: 121px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building65 {
    left: 321px;
    top: 544px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building66 {
    left: 337px;
    top: 494px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building67 {
    left: 353px;
    top: 444px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building68 {
    left: 368px;
    top: 394px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building69 {
    left: 385px;
    top: 343px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building70 {
    left: 402px;
    top: 292px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building71 {
    left: 425px;
    top: 220px;
    width: 59px;
    height: 49px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building72 {
    left: 305px;
    top: 595px;
    width: 39px;
    height: 61px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building73 {
    left: 407px;
    top: 65px;
    width: 65px;
    height: 39px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building74 {
    left: 511px;
    top: 50px;
    width: 46px;
    height: 55px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building75 {
    left: 570px;
    top: 47px;
    width: 46px;
    height: 55px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building76 {
    left: 625px;
    top: 42px;
    width: 46px;
    height: 55px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.building77 {
    left: 447px;
    top: 150px;
    width: 44px;
    height: 65px;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}

.building78 {
    left: 497px;
    top: 134px;
    width: 57px;
    height: 35px;
}

.building79 {
    left: 589px;
    top: 132px;
    width: 40px;
    height: 30px;
}

.building80 {
    left: 634px;
    top: 150px;
    width: 33px;
    height: 57px;
}

.building81 {
    left: 580px;
    top: 239px;
    width: 49px;
    height: 38px;
}

.building82 {
    left: 580px;
    top: 290px;
    width: 49px;
    height: 38px;
}

.building83 {
    left: 580px;
    top: 340px;
    width: 49px;
    height: 36px;
}

.building84 {
    left: 580px;
    top: 394px;
    width: 49px;
    height: 38px;
}

.building85 {
    left: 580px;
    top: 450px;
    width: 49px;
    height: 53px;
}

.building86 {
    left: 616px;
    top: 533px;
    width: 49px;
    height: 63px;
}