.row {
	text-align: center;
}

#bubble-holder {
	
position:absolute; top:-20px; right:0px; width:600px; height:600px;
	
}
/*
.carousel {
position: absolute;
width: 590px;
margin-left: -500px;
overflow: hidden;
height: 400px;
top: 1560px;
right: 210px;
} 
*/
.carousel {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top:30px;
	margin-left: -90px !important;
}
/* top: 1560px; */
/* right: 210px; */
.carousel .item {
	width: 350px;
	height: 350px;
	vertical-align: middle;
	line-height: 150px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-radius: 50%;
	border: 5px solid #2A2A2A;
	background-position:center center;
	background-size: cover;
}
/*
.controls {
	position: absolute;
	top: 500px;
	left: 50%;
	width: 150px;
	margin-left: -75px;
}

.controls a {
	display: block;
}

.controls .previous {
	float: left;
}

.controls .next {
	float: right;
}*/


@media screen and (max-width:1100px){
	.carousel {
		margin-left: -170px !important;
	}

}
@media screen and (max-width:900px){
	.carousel {
		margin-left: -210px !important;
	}
	
	#bubble-holder {position:relative; top:auto; right:auto; width:100%;}

}
@media screen and (max-width:800px){
	.carousel {
		margin-left: -245px !important;
	}
}
@media screen and (max-width:850px){
	.carousel {
		margin-left: -260px !important;
	}
	
	#bubble-holder {
	height: 250px;
	margin-left: 20%;
}
	

}
@media screen and (max-width:580px){
	.carousel {
		margin-left: -255px !important;
	}
	#bubble-holder 	{display:none;}

}
