.map-sec {
    position: relative;
    width: 740px;
    margin: 0 auto;
	background-color:#efefef;
}

.map-sec img {
    vertical-align: top;
}

.suite {
    position: absolute;
    width: 11.5%;
    height: 15%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    cursor: pointer;
}
.suite:hover, .suite.active {
    opacity: 1;
}
.building1 {
    top: 23.5%;
    left: 8%;
    width: 3.5%;
    height: 4%;
}

.building2 {
    top: 29.1%;
    left: 8%;
    width: 3.5%;
    height: 4%;
}

.building3 {
    top: 35%;
    left: 8%;
    width: 3.5%;
    height: 4%;
}

.building4 {
    top: 47.5%;
    left: 8%;
    width: 3.5%;
    height: 4%;
}

.building5 {
    top: 53.3%;
    left: 8%;
    width: 3.5%;
    height: 4%;
}

.building6 {
    top: 59.2%;
    left: 8%;
    width: 3.5%;
    height: 4%;
}

.building7 {
    top: 64.2%;
    left: 8%;
    width: 3.5%;
    height: 4%;
}

.building8 {
    top: 64.2%;
    left: 12.7%;
    width: 3.5%;
    height: 5.4%;
}

.building9 {
    top: 58.5%;
    left: 12.7%;
    width: 3.5%;
    height: 5.5%;
}

.building10 {
    top: 53.1%;
    left: 12.7%;
    width: 3.5%;
    height: 5%;
}

.building11 {
    top: 47%;
    left: 13.3%;
    width: 3.1%;
    height: 6%;
}

.building12 {
    top: 33.5%;
    left: 13.3%;
    width: 3.1%;
    height: 5.2%;
}

.building13 {
    top: 27.5%;
    left: 13.3%;
    width: 3.1%;
    height: 5.2%;
}

.building14 {
    top: 21.5%;
    left: 13.3%;
    width: 3.1%;
    height: 5.2%;
}

.building15 {
    top: 16.8%;
    left: 9.5%;
    width: 4%;
    height: 3.6%;
}

.building16 {
    top: 16.8%;
    left: 15.3%;
    width: 4%;
    height: 3.6%;
}

.building17 {
    top: 16.8%;
    left: 21.1%;
    width: 4%;
    height: 3.6%;
}

.building18 {
    top: 16.8%;
    left: 26.8%;
    width: 4%;
    height: 3.6%;
}

.building19 {
    top: 21.5%;
    left: 19.7%;
    width: 2.4%;
    height: 3.6%;
}

.building20 {
    top: 21.5%;
    left: 23.7%;
    width: 2.4%;
    height: 3.6%;
}

.building21 {
    top: 21.2%;
    left: 28.5%;
    width: 2.2%;
    height: 3%;
}

.building22 {
    top: 28.2%;
    left: 29.4%;
    width: 2.5%;
    height: 3.5%;
}

.building23 {
    top: 36.1%;
    left: 29.4%;
    width: 2.5%;
    height: 3.5%;
}

.building24 {
    top: 46.3%;
    left: 26.7%;
    width: 2.5%;
    height: 3.5%;
}

.building25 {
    top: 46.3%;
    left: 22.7%;
    width: 2.5%;
    height: 3.5%;
}

.building26 {
    top: 63.3%;
    left: 23.5%;
    width: 2.5%;
    height: 3.5%;
}

.building27 {
    top: 63.3%;
    left: 29.8%;
    width: 2.5%;
    height: 3.5%;
}

.building28 {
    top: 63.3%;
    left: 36.1%;
    width: 2.5%;
    height: 3.5%;
}

.building29 {
    top: 63.3%;
    left: 42.4%;
    width: 2.5%;
    height: 3.5%;
}

.building30 {
    top: 63.3%;
    left: 54.9%;
    width: 2.5%;
    height: 3.5%;
}

.building31 {
    top: 63.3%;
    left: 61.2%;
    width: 2.5%;
    height: 3.5%;
}

.building32 {
    top: 63.3%;
    left: 67.7%;
    width: 2.5%;
    height: 3.5%;
}

.building33 {
    top: 62.7%;
    left: 72.3%;
    width: 2.5%;
    height: 3.5%;
}

.building34 {
    top: 67.7%;
    left: 23.0%;
    width: 2.4%;
    height: 3.5%;
}

.building35 {
    top: 67.7%;
    left: 28.3%;
    width: 2.4%;
    height: 3.5%;
}

.building36 {
    top: 67.7%;
    left: 33.8%;
    width: 2.4%;
    height: 3.5%;
}

.building37 {
    top: 67.7%;
    left: 39%;
    width: 2.4%;
    height: 3.5%;
}

.building38 {
    top: 67.7%;
    left: 44.5%;
    width: 2.4%;
    height: 3.5%;
}

.building39 {
    top: 67.7%;
    left: 54.8%;
    width: 2.4%;
    height: 3.5%;
}

.building40 {
    top: 67.7%;
    left: 60.1%;
    width: 2.4%;
    height: 3.5%;
}

.building41 {
    top: 67.7%;
    left: 65.8%;
    width: 2.4%;
    height: 3.5%;
}

.building42 {
    top: 67.7%;
    left: 70.9%;
    width: 2.4%;
    height: 3.5%;
}

.building43 {
    top: 67.7%;
    left: 76.5%;
    width: 2.4%;
    height: 3.5%;
}

.building44 {
    top: 79.0%;
    left: 13.1%;
    width: 2.4%;
    height: 2.9%;
}

.building45 {
    top: 79.0%;
    left: 17.8%;
    width: 2.4%;
    height: 2.9%;
}

.building46 {
    top: 79.0%;
    left: 22.4%;
    width: 2.4%;
    height: 2.9%;
}

.building47 {
    top: 79.0%;
    left: 27%;
    width: 2.4%;
    height: 2.9%;
}

.building48 {
    top: 79.0%;
    left: 27%;
    width: 2.4%;
    height: 2.9%;
}

.building48 {
    top: 79.0%;
    left: 31.6%;
    width: 2.4%;
    height: 2.9%;
}

.building49 {
    top: 79.0%;
    left: 36.2%;
    width: 2.4%;
    height: 2.9%;
}

.building50 {
    top: 79.0%;
    left: 40.8%;
    width: 2.4%;
    height: 2.9%;
}

.building51 {
    top: 84%;
    left: 13.7%;
    width: 2.4%;
    height: 2.9%;
}

.building52 {
    top: 84%;
    left: 19.3%;
    width: 2.4%;
    height: 2.9%;
}

.building53 {
    top: 84%;
    left: 24.4%;
    width: 2.4%;
    height: 2.9%;
}

.building54 {
    top: 84%;
    left: 30.0%;
    width: 2.4%;
    height: 2.9%;
}

.building55 {
    top: 84%;
    left: 35.5%;
    width: 2.4%;
    height: 2.9%;
}

.building56 {
    top: 84%;
    left: 39.5%;
    width: 2.4%;
    height: 2.9%;
}

.building57 {
    top: 22.5%;
    left: 33.2%;
    width: 2.5%;
    height: 3.5%;
}

.building58 {
    top: 26.4%;
    left: 33.2%;
    width: 2.5%;
    height: 3.5%;
}

.building59 {
    top: 30.2%;
    left: 33.2%;
    width: 2.5%;
    height: 3.5%;
}

.building60 {
    top: 34.1%;
    left: 33.2%;
    width: 2.5%;
    height: 3.5%;
}

.building61 {
    top: 38%;
    left: 33.2%;
    width: 2.5%;
    height: 3.5%;
}

.building62 {
    top: 42%;
    left: 33.2%;
    width: 2.5%;
    height: 3.5%;
}

.building63 {
    top: 20%;
    left: 40.2%;
    width: 2.5%;
    height: 3.5%;
}

.building64 {
    top: 25%;
    left: 40.2%;
    width: 2.5%;
    height: 3.5%;
}

.building65 {
    top: 30.2%;
    left: 40.2%;
    width: 2.5%;
    height: 3.5%;
}

.building66 {
    top: 35.3%;
    left: 40.2%;
    width: 2.5%;
    height: 3.5%;
}

.building67 {
    top: 40.4%;
    left: 40.2%;
    width: 2.5%;
    height: 3.5%;
}

.building68 {
    top: 46.9%;
    left: 44.5%;
    width: 2.4%;
    height: 2.6%;
}

.building69 {
    top: 46.9%;
    left: 49.7%;
    width: 2.4%;
    height: 2.6%;
}

.building70 {
    top: 46.9%;
    left: 54.8%;
    width: 2.4%;
    height: 2.6%;
}

.building71 {
    top: 46.9%;
    left: 59.9%;
    width: 2.4%;
    height: 2.6%;
}

.building72 {
    top: 46.9%;
    left: 62.9%;
    width: 2.4%;
    height: 2.6%;
}

.building72 {
    top: 46.9%;
    left: 69.5%;
    width: 2.4%;
    height: 2.6%;
}

.building73 {
    top: 46.9%;
    left: 74.6%;
    width: 2.4%;
    height: 2.6%;
}

.building74 {
    top: 46.9%;
    left: 79.7%;
    width: 2.4%;
    height: 2.6%;
}

.building75 {
    top: 46.9%;
    left: 84.9%;
    width: 2.4%;
    height: 2.6%;
}

.building76 {
    top: 54.1%;
    left: 78.4%;
    width: 30px;
    height: 29px;
    background: url(shap1.png) no-repeat left top; 
}
.building77 {
    top: 58.2%;
  left: 76.8%;
    width: 30px;
    height: 29px;
    background: url(shap1.png) no-repeat left top; 
}

.building78 {
    top: 57.6%;
  left: 82.1%;
    width: 30px;
    height: 29px;
   background: url(shap1.png) no-repeat left top; 
}

.building79 {
     top: 62.2%;
  left: 80.8%;
  width: 30px;
  height: 29px;
   background: url(shap1.png) no-repeat left top; 
}

.building76:hover .building76.active,
.building77:hover .building77.active,
.building78:hover .building78.active,
.building79:hover .building79.active { background: url(shap1.png) no-repeat left top; }