/*Las Colinas*/
/*
	Theme Name: Workhorse Digital Boilerplate
	Theme URI: http://aarontgrogg.com/boilerplate/
	Description: Default Workhorse Digital Boilerplate Theme
	Author: Workhorse Digital
	Author URI: http://www.workhorse-digital.com/
	Version: 1.0
*/


#th-specials-banner {
    position: relative;
    float: left;
    width: 100%;
    color: #6c767e;
    font-size: 12px;
    border-top: 2px solid #fff;
    padding: 5px 0 3px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    background-image: url(/wp-content/uploads/2017/01/bg.png);
    background-size: auto 400%;
    border-bottom: 2px solid #fff;
    top: -10px;
}

#th-specials-banner-desktop {
  display: none;
}

#menu-main-menu li a {
  font-size: 17px !important;
}

@media all and ( min-width: 768px ) {

  #th-specials-banner-desktop {
    display: inline;
  }

  #th-specials-mobile {
    display: none;
  }

  #th-specials-banner {
    font-size: 18px;
  }

} /* end @media all and ( min-width: 768px ) */



@media all and ( min-width: 651px ) {

  #th-specials-banner {
    top: -12px;
  }

} /* end @media all and ( min-width: 651px ) */



@media all and ( min-width: 851px ) {

  #th-specials-banner {
    top: 2px;
  }

  #hamburger {
    line-height: 130px !important;
  }

} /* end @media all and ( min-width: 851px ) */



@media all and ( min-width: 1200px ) {

  #menu-main-menu li a {
    font-size: 24px !important;
  }

} /* end @media all and ( min-width: 1200px ) */







article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; outline-width: 0;}
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 a { color: #C38839; }

  a:visited  { color: #C38839; }


 a:hover  { color: #c16f56; }


a:focus { outline: 0; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:after { clear: both; content: ""; display: block; }
img { border: 0; vertical-align: top; max-width: 100%; height: auto; }
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }
li#theme-switcher { background:#fff; border:10px solid red; padding:20px; position:fixed; top:0; right:0 }
h1, h2, h3, h4, h5, h6 { font-weight:bold }
.alert { background:red; color:white ;}
img { max-width: 100%; height: auto; vertical-align: top;}

.variable-font-size {font-size:117px; line-height:12px;}@media (max-width:1179px) and (min-width: 1170px){.variable-font-size {font-size:117px;}}@media (max-width:1169px) and (min-width: 1160px){.variable-font-size {font-size:116px;}}@media (max-width:1159px) and (min-width: 1150px){.variable-font-size {font-size:115px;}}@media (max-width:1149px) and (min-width: 1140px){.variable-font-size {font-size:114px;}}@media (max-width:1139px) and (min-width: 1130px){.variable-font-size {font-size:113px;}}@media (max-width:1129px) and (min-width: 1120px){.variable-font-size {font-size:112px;}}@media (max-width:1119px) and (min-width: 1110px){.variable-font-size {font-size:111px;}}@media (max-width:1109px) and (min-width: 1100px){.variable-font-size {font-size:110px;}}@media (max-width:1099px) and (min-width: 1090px){.variable-font-size {font-size:109px;}}@media (max-width:1089px) and (min-width: 1080px){.variable-font-size {font-size:108px;}}@media (max-width:1079px) and (min-width: 1070px){.variable-font-size {font-size:107px;}}@media (max-width:1069px) and (min-width: 1060px){.variable-font-size {font-size:106px;}}@media (max-width:1059px) and (min-width: 1050px){.variable-font-size {font-size:105px;}}@media (max-width:1049px) and (min-width: 1040px){.variable-font-size {font-size:104px;}}@media (max-width:1039px) and (min-width: 1030px){.variable-font-size {font-size:103px;}}@media (max-width:1029px) and (min-width: 1020px){.variable-font-size {font-size:102px;}}@media (max-width:1019px) and (min-width: 1010px){.variable-font-size {font-size:101px;}}@media (max-width:1009px) and (min-width: 1000px){.variable-font-size {font-size:100px;}}@media (max-width:999px) and (min-width: 990px){.variable-font-size {font-size:99px;}}@media (max-width:989px) and (min-width: 980px){.variable-font-size {font-size:98px;}}@media (max-width:979px) and (min-width: 970px){.variable-font-size {font-size:97px;}}@media (max-width:969px) and (min-width: 960px){.variable-font-size {font-size:96px;}}@media (max-width:959px) and (min-width: 950px){.variable-font-size {font-size:95px;}}@media (max-width:949px) and (min-width: 940px){.variable-font-size {font-size:94px;}}@media (max-width:939px) and (min-width: 930px){.variable-font-size {font-size:93px;}}@media (max-width:929px) and (min-width: 920px){.variable-font-size {font-size:92px;}}@media (max-width:919px) and (min-width: 910px){.variable-font-size {font-size:91px;}}@media (max-width:909px) and (min-width: 900px){.variable-font-size {font-size:90px;}}@media (max-width:899px) and (min-width: 890px){.variable-font-size {font-size:89px;}}@media (max-width:889px) and (min-width: 880px){.variable-font-size {font-size:88px;}}@media (max-width:879px) and (min-width: 870px){.variable-font-size {font-size:87px;}}@media (max-width:869px) and (min-width: 860px){.variable-font-size {font-size:86px;}}@media (max-width:859px) and (min-width: 850px){.variable-font-size {font-size:85px;}}@media (max-width:849px) and (min-width: 840px){.variable-font-size {font-size:84px;}}@media (max-width:839px) and (min-width: 830px){.variable-font-size {font-size:83px;}}@media (max-width:829px) and (min-width: 820px){.variable-font-size {font-size:82px;}}@media (max-width:819px) and (min-width: 810px){.variable-font-size {font-size:81px;}}@media (max-width:809px) and (min-width: 800px){.variable-font-size {font-size:80px;}}@media (max-width:799px) and (min-width: 790px){.variable-font-size {font-size:79px;}}@media (max-width:789px) and (min-width: 780px){.variable-font-size {font-size:78px;}}@media (max-width:779px) and (min-width: 770px){.variable-font-size {font-size:77px;}}@media (max-width:769px) and (min-width: 760px){.variable-font-size {font-size:76px;}}@media (max-width:759px) and (min-width: 750px){.variable-font-size {font-size:75px;}}@media (max-width:749px) and (min-width: 740px){.variable-font-size {font-size:74px;}}@media (max-width:739px) and (min-width: 730px){.variable-font-size {font-size:73px;}}@media (max-width:729px) and (min-width: 720px){.variable-font-size {font-size:72px;}}@media (max-width:719px) and (min-width: 710px){.variable-font-size {font-size:71px;}}@media (max-width:709px) and (min-width: 700px){.variable-font-size {font-size:70px;}}@media (max-width:699px) and (min-width: 690px){.variable-font-size {font-size:69px;}}@media (max-width:689px) and (min-width: 680px){.variable-font-size {font-size:68px;}}@media (max-width:679px) and (min-width: 670px){.variable-font-size {font-size:67px;}}@media (max-width:669px) and (min-width: 660px){.variable-font-size {font-size:66px;}}@media (max-width:659px) and (min-width: 650px){.variable-font-size {font-size:65px;}}@media (max-width:649px) and (min-width: 640px){.variable-font-size {font-size:64px;}}@media (max-width:639px) and (min-width: 630px){.variable-font-size {font-size:63px;}}@media (max-width:629px) and (min-width: 620px){.variable-font-size {font-size:62px;}}@media (max-width:619px) and (min-width: 610px){.variable-font-size {font-size:61px;}}@media (max-width:609px){.variable-font-size {font-size:60px; }}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {margin: 0;
 padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}

/** WORKHORSE **/

@font-face {
    font-family: 'ostrich_sansblack';
    src: url('fonts/ostrich-sans-black.eot');
    src: url('fonts/ostrich-sans-black.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich-sans-black.woff2') format('woff2'),
         url('fonts/ostrich-sans-black.woff') format('woff'),
         url('fonts/ostrich-sans-black.ttf') format('truetype'),
         url('fonts/ostrich-sans-black.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Base Style and Layout */
a {text-decoration:none;}
html, body, #all {height:100%; overflow-x:hidden;}
.gutter {padding-left:3%; padding-right:3%;}
.inner {
    margin: 0 auto;
    width: 100%;
	max-width:1180px;
	padding: 0 0 1px;
}
.entry-content ul {margin-left:20px;}
.left{float:left;}
.right{float:right;}

 body  p  {font-family: 'Vollkorn', serif;
	color : #666666 ;
	font-size : 24px ;
	font-weight : 400 ;
	line-height : 36px ;
	padding-bottom: 10px;
}

.inner ul {
	margin-left: 20px;
	padding-bottom:15px;
}
.page-template-page-sitemap-php #content{padding-bottom: 30px;}
.entry-content ul li, small {font-family: 'Vollkorn', serif; color : #666666 ;}
small  {font-family: 'Droid Serif', serif;}

small {font-size:16px; padding-left:15px;}

 h1,  h2,  h3,  h4,  h5{font-family: 'ostrich_sansblack'; color:#976828;}


.title{text-transform:uppercase;}
h1,h2{
	font-size : 36px ;
	font-weight : 400 ;
	line-height : 50.499px ;
 	padding-bottom: 10px;
}



/* VIDEO VIRTUAL TOUR START */

.video-walk-around {
  text-align: center !important;
}

.page-id-1458 h1:first-of-type {
  display:none;
  }

.video-walk-around iframe {
  width: 250px;
  height: 140px;
}

@media all and ( min-width: 480px ) {
  .video-walk-around iframe {
    width: 250px;
    height: 140.625px;
  }
}

@media all and ( min-width: 768px ) {
  .video-walk-around iframe {
    width: 600px;
    height: 337.5px;
  }
}

@media all and ( min-width: 1024px ) {
  .video-walk-around iframe {
    width: 800px;
    height: 450px;
  }
}

/* VIDEO VIRTUAL TOUR END */



/* Header */
.site-logo { height: 130px; width: 36%; display: block; float: left; }
#menus-right {text-align:right; padding-top:17px;}
.social-icons {display:inline-block; vertical-align:top;}
.social-icons li {display:inline-block; list-style:none; padding:0px 5px;}
.social-icons li a {-webkit-border-radius:50%; border-radius:50%; width:24px; height:24px; color:#5c6769; font-size:14px; line-height:24px; background-color:#fff; text-align:center;}
.social-icons li a:visited {color:#5c6769}
.menu-top-menu-container {display:inline-block; vertical-align:top;}
#menu-top-menu li {display:inline-block; }



 #menu-top-menu li a,  .header-phone a  {font-family: 'ostrich_sansblack';
	color : #C38839;
	font-size : 17px ;
	font-weight : 400 ;
	text-decoration:none;
	padding:0px 10px;
	line-height: 15px;
	}



.header-phone {
line-height: 26px;
}	

 #menu-top-menu li a:hover,  .header-phone a:hover {color:#fff;}

.header-banner {float: right;margin-top: 21px;}
.header-banner a:hover {
	opacity: .9;
}

/* Menus */
#access {
    margin-top: 60px;
}
#access #menu-main-menu li {
    display: inline-block;
	padding: 0 0 0 95px;
}
#menu-footer-left-menu li, #menu-footer-right-menu li{
	padding-left:15px;
}
.menu-main-menu-container {padding-top:20px;}
#menu-main-menu li {display:inline-block; padding-left:2%;}
#menu-main-menu li a, #menu-footer-left-menu li a, #menu-footer-right-menu li a{
	font-family: 'ostrich_sansblack';
	color : #ffffff;
	font-size : 24px;
	font-weight : 400;
	text-transform: uppercase;	
	text-decoration: none;
	
}


 #menu-main-menu li a:hover, #menu-main-menu li.current_page_item > a,  #menu-footer-left-menu li a:hover,  #menu-footer-right-menu li a:hover  {
	color: #C38839;
}


#topnav {
    margin-top: 15px;
}

#topnav #menu-social-menu{float:right;}
ul#menu-social-menu {
	padding-top: 2px;
}
#topnav #menu-social-menu li, #footer-social-menu #menu-social-menu-1 li {
   /* display: inline-block;
	padding: 0 10px;
	float:right;*/
}

#topnav #menu-social-menu li a, #footer-social-menu #menu-social-menu-1 li a {
	font-family: 'Fontawesome';
	color : #5D6770;
 	font-size: 16px;
    text-decoration: none;
}
#topnav #menu-social-menu li a, #footer-social-menu #menu-social-menu-1 li a {
    padding: 6px 5px 0 5px;
    text-align: center;
    vertical-align: middle;
}
#topnav #menu-social-menu li a:hover, #footer-social-menu #menu-social-menu-1 li a:hover {
	color: #C38839;
}

#topnav #menu-top-menu li {
	display: inline-block;
	padding: 5px 10px;
	float:right;
}



#menu-social-menu li a:hover {color:#C38839;}
#menu-social-menu li a {
    padding-left: 3px;
}
.fa-circle-2x {
    background: none repeat scroll 0 0 #fff;
    border-radius: 17px;
    height: 24px;
    width: 24px;
}
#topnav #menu-social-menu li, #footer-social-menu #menu-social-menu-1 li {
    padding: 1px;
    margin: 0 8px;
}

#topnav #menu-top-menu li a {
	padding: 5px;
	text-decoration:none;
	font-family: 'ostrich_sansblack';
	color : #c16f56 ;
	font-size : 15px ;
	font-weight : 400 ;
	text-decoration:none;
}
#topnav #menu-top-menu li a:hover {color:#fff;}

#menu-privacy-menu {padding:0px; margin:0px;}
#menu-privacy-menu li {
    display: inline-block;
    padding: 5px;
}
#menu-privacy-menu li a{color:#fff;text-decoration:none;}
#menu-privacy-menu li a:hover{color:#C38839;}

#menu-privacy-menu li {
    border-right: 1px solid #fff;
    display: inline-block;
    line-height: 10px;
    padding: 3px 5px;
}
#menu-privacy-menu li:last-child {border:none;}



/* Mobile Menu */

#mobile-menu .mobile-menu-inner, #btn-mobile-menu li {background-color:#C38839;}

body.modal-open {
    overflow-x: hidden;
}
 
	#mobile-menu .mobile-menu-inner {width:100%; height:100%; position:relative;}

	#btn-mobile-menu{font-size:10px; line-height:11px; text-align:center; padding:6px 0px 2px 0px; width:30px; height:30px; position:absolute; top:32px; cursor:pointer;  color:#fff; right:-40px; top:0px; text-indent:-3000px;padding:4px 5px 5px 5px; background-color:#ffffff;}
	#btn-mobile-menu li {display:block; width:100%;  height:5px; margin:4px 0px;}
	
	.mobile-menu-content {padding:1% 20px; height:96%; }
	.mobile-menu-content form {width:100%; }
	#menu-slide-holder {width:100%; position:relative; overflow:hidden;  height:100%; }
	#mobile-slide-home {position:absolute; top:0px; left:0%; z-index:10000; height:100%; width:88%; overflow:auto; padding: 120px 20px 0; }
	#reset-menu {color:#fff; padding:20px 20px 10px 20px;  cursor:pointer;}
	#sliding-sub-menu {position:absolute; top:0px; left:100%; height:100%; width:92%; overflow:auto; }
	#sliding-sub-menu-content {padding:1% 20px;}
	#menu-mobile-menu li, #sliding-sub-menu-content li {width:100%; text-transform:uppercase; margin:4px 0px; list-style:none;}
	#menu-mobile-menu li a, #sliding-sub-menu-content li a { padding:3px 0px; color:#fff; display:block;}
	#menu-mobile-menu li ul li {display:none;}
	
	#mobile-menu .searchform input {-webkit-appearance:none; border:0px; padding:4px 2%; display:inline-block; font-size:12px; border-radius:0px; -webkit-border-radius:0px;}
	#mobile-menu .searchform input[type=text]{ width:68%; }
		#mobile-menu .searchform input[type=submit]{width:25%; background-color:#fff; font-weight:bold;  }
	#menu-mobile-menu .menu-item-has-children:after {
		content: '+';
		color: #fff;
		float: right;
		margin-top: -24px;
	}


.show-menu #mobile-menu {display:block;}


/* Buttons */


 a.orange-btn {
	background-image: url("_images/global/btn-orange-curved-hover.png");
	background-position: center top;
	padding: 0;
	background-size:100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	color : #ffffff;
	text-decoration: none;
	font-family: 'ostrich_sansblack';
	font-size : 20px;
	line-height: 85px;
	width: 206px;
	height: 85px;
	text-align: center;
	font-weight : 400;
	text-transform: uppercase;
	color:#fff;
}




 a.orange-btn:hover {
	background-position: center bottom;
}


a.orange-btn.small {width: 160px;
	height: 66px; line-height: 64px; font-size : 14px;}



a.orange-btn span {
border: 2px solid white;
padding: 10px 0;
display: block;
margin: -5px 10px;
}




.orange-btn {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.orange-btn:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 7px;
  right: 8px;
  background: transparent;
  /* IE9 */
  background: linear-gradient(225deg, transparent 45%, #c16f56 50%, #ce6d4f 56%, #e1b4a7 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -moz-transform: rotate(-3deg);
-webkit-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}



.orange-btn.small:before {
top:5px; 
right:6px;	
	
}
.orange-btn:hover:before, .orange-btn:focus:before, .orange-btn:active:before {
  width: 26px;
  height: 26px;
}

a.orange-btn.small:hover:before, a.orange-btn.small:focus:before, a.orange-btn.small:active:before {
  width: 20px;
  height: 20px;
}

.main-pattern-section .right .buttons, .wood-grain-section .buttons  {
	margin-top: 30px;
}
 .featured-page .buttons {
    margin-bottom: 30px;
}
 .main-pattern-section .right .buttons { margin-bottom: 20px;}
 .featured-page .right .buttons {text-align:center; }
 .featured-page .right h2 {
  margin-right: 35px;
  text-align: center;
}

 .page-template-page-features-php a.orange-btn {
  margin: 0 30px 10px 0;
}
/* Home Page */



 .main-pattern-section {
	background: url('_images/lascolinas/bg-repeat-lascolinas-light.jpg') repeat 152px top;
	/*padding: 90px 0;
	margin-top: -75px;*/
}


.main-pattern-section {
	-webkit-clip-path: polygon(50% 7%, 60% 0, 100% 0, 100% 60%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 0, 40% 0);
	clip-path: polygon(50% 7%, 60% 0, 100% 0, 100% 60%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 0, 40% 0); margin-top:-60px;
}

@media (max-width:500px){
	.main-pattern-section {
	-webkit-clip-path: polygon(50% 2%, 60% 0, 100% 0, 100% 60%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 0, 40% 0);
	}
}
.main-pattern-section.featured-page { background: none; padding: 55px 0 120px;}
.main-pattern-section .left {
width: 50%;
float: left;
padding: 80px 4% 40px 0;
border-right: 2px solid #999;
}
.main-pattern-section .left p { padding: 0 0 30px; }
.main-pattern-section .right {
width: 40%;
float: right;
padding: 80px 0 40px 0;
}

 .wood-grain-section  {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	background-image: url("/wp-content/themes/workhorse-boilerplate/_images/lascolinas/bg-woodgrain.jpg");
    background-position: center center;
    background-size: cover;
}



 .wood-grain-section .entry-content {
    /*background-color: rgba(222, 222, 222, 0.8);*/
	padding: 75px 0px 175px;
}


.home-circle-section {
    margin-top: -100px;
}


.content-box-left { display: inline-block; vertical-align: middle; width: 48%; }
.content-box-right { display: inline-block; vertical-align: middle; width: 48%; }
.content-box-right img {}


/* Features Page */
.col1 {
	    display: inline-block;
    vertical-align: top;
    width: 45%;
	margin: 0 9% 0 0;
	box-sizing: border-box; 

}
.col2 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
	margin: 0;
	box-sizing: border-box; 
}
.page-template-page-features-php a.orange-btn { margin: 0 25px 10px 0; }
.entry-content .col1 ul, .entry-content .col2 ul {}
.entry-content .col1 ul li, .entry-content .col2 ul li { font-size: 24px; line-height: 30px; margin: 0 0 30px; color: #666666 ; }
.col2 small { font-size: 18px;}
 .col2 small {font-size: 14px;}
/* Gallery */


 #header {position:fixed; top:0px; left:0px; width:100%; z-index:99999; background-image:url('_images/lascolinas/bkg-header.png'); height:151px; background-size:auto 100%; background-position:center;}

.bxslider {
    z-index: -10000;
}

.gallery-title p {
font-family:  'ostrich_sansblack';
color: #976828;
font-size: 36px;
font-weight: 400;
line-height: 50.499px;
margin: 40px 0;
text-align:center;
}




#home-logo-holder {position:absolute; width:100%; top:54%; left:0px; z-index: 999; }

#home-logo-holder img  {display:block; width:30%; max-width:300px; height:auto;margin:-174px auto 0; }






#slider {width:100%; overflow:hidden; position:relative; }
#slider li {background-size:cover; height:700px; background-repeat:no-repeat; background-position:center center;}
#slider-hider {width:100%; overflow:hidden; position:relative; height:700px; margin-top:80px;}
#slider-hider-inner {width:150%; margin-left:-25%;}
#photos-slider li {background-size:cover; height:700px; background-repeat:no-repeat; background-position:center bottom;}
.transparent {background-color:rgba(255,255,255,.5); position:absolute; top:0px; height:100%; width:25%; z-index:2000; }
.thumbnails { display:block; }
#thumbnail-holder {padding:50px 0px; max-width:800px; margin:0px auto; height:150px;}
.thumbnails li {display:inline-block; width:20%;}
#renderings-notes {position:absolute; bottom:5px; right:26%; color:#fff; font-size:11px; line-height:13px;}
.bx-controls {position:relative; width:100%; max-width:1200px; margin: -110px auto 0; }
.bx-controls .bx-pager {
	color:black;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.bx-controls  .bx-pager .bx-pager-item {display:inline-block; margin:0px 12px; -webkit-border-radius: 50%; border-radius: 50%; width:14px; height:14px;  overflow:hidden;  } 
.bx-controls  .bx-pager .bx-pager-item  a  {background:#fff; display:block; text-indent:-3000px;}
.bx-controls  .bx-pager .bx-pager-item  .active {background:#C38839;}
.bx-controls-direction a  { width:25px; height:48px; position:absolute; display:block; z-index:13000;text-indent:-3000px;}
#slider-hider-inner .bx-controls-direction a { bottom:210px;}
#thumbnail-holder .bx-controls-direction a { bottom:40px;}
#thumbnail-holder .bx-controls-direction a:hover { opacity:.7;}
.thumbnails li a:hover img{outline: 5px solid #B5852F !important;}


#thumbnail-holder .bx-wrapper .bx-viewport{height:132px !important;}

#home-slider {list-style:none;}

#slider-holder {position:relative; }


.page-template-page-home  #slider-holder {
  margin-top: 139px;
}
/*
#slider-holder:after { content: ""; display: block; position: absolute; bottom: 0; left: 0; z-index: 999;  background:url('_images/global/sl-bottom-bg.png') repeat-x center top; width: 100%; height: 19px;   }
*/
#slider-holder .owl-controls { position: absolute; bottom: 45px; left: 0; width: 100%; z-index: 999; margin: 0; padding: 0;  }

#owl-demo .item {background-size:cover; background-position:center; height:700px}


 #content  {padding-top:200px; background:url('_images/lascolinas/bg-repeat-lascolinas-light.jpg');}

.error404 #content { min-height: 450px; }
.page-template-page-home-php #content {padding-top:0px; background:none;}
.page-template-page-neighbothood-php  #content {padding-top:140px; height:100%;}
.page-template-page-gallery-php #content { padding: 0; }


.page-template-page-gallery  #owl-demo {
  margin-top: 135px;
}

/* Contact Page */
/* CONTACT */
.page-template page-template-page-contact-php #map_canvas {
   	 height: 250px;
   	 margin-bottom: 24px;
   	 width: 100%;
     background-color: #CCC;

}

#form_contact {
font-size: 22px;
line-height: 30px;
vertical-align: top;
}
#form_contact input[type=text], #form_contact  textarea, #form_contact  select {border:1px solid #eae7e1; padding: 10px 2%; margin:0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:100%; color:#808184; font-size:17px; line-height:18px; margin-bottom:14px; -webkit-appearance:none;}
#form_contact textarea {height:120px;}
#form_contact input.two-col[type=text], #form_contact select.two-col  {width:49%; margin-right:2%; float:left;}
#form_contact input.two-col[type=text]:nth-child(even), 
#form_contact input.last-col[type=text], #form_contact select.two-col {margin-right:0px;}
#form_contact input[type=radio] {float:left; display:block; margin-right:10px;}
#form_contact input[type=submit]{display:block; float:right; margin-right:6%; -webkit-appearance:none; background-color:#b5862e;  text-transform:uppercase; color:#fff; border:none; -webkit-border-radius: 12px; border-radius: 12px; padding:15px 30px; font-size:20px; }
.fake-radio { border:1px solid #eae7e1; -webkit-border-radius: 50%; border-radius: 50%; padding:2px; width:25px; height:25px; display:block; float:left; margin-right:10px;}
.fake-radio::selection {background:none;}
.selected span {background-color:#eae7e1; width:100%; height:100%; display:block; -webkit-border-radius: 50%; border-radius: 50%;}
#form_contact select{ -webkit-appearance: none;
  -webkit-border-radius: 0px; background-color:#fff;
  background:url('_images/global/icon-arrows.png') 97% center no-repeat;
    line-height: normal;
    padding: 9px 2% 8px;
  }
select#desired_floor_plan {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Vollkorn', serif !important;
    color: #666666;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #form_contact select {padding: 12px 2% 8px;}
    #form_contact input.two-col[type=text], #form_contact select.two-col {padding: 12px 2% 8px;}
}
input#appointment_date_new { -webkit-appearance: none;
  -webkit-border-radius: 0px; background-color:#fff;
  background:url('_images/global/icon-cal.png') 97% center no-repeat;)
  }
.contact-page{
font-size: 18px;
line-height: 22px;
font-family: 'Vollkorn', serif;
color: #666666;
}

.contact-page .form-container {
border: solid 1px #b3b3b3;
min-height: 450px;
background: #fff;
}.contact-page .left {width:70%; padding:40px 0% 40px 3%; display:inline-block;;  vertical-align:top; }
.contact-page .right {width:30%; display:inline-block;  padding:20px 2%; vertical-align:top;}
.contact-page .right a {display:block; color:inherit; padding-bottom:10px;}
.contact-page .right a:hover {color:#C38839;}
.contact-page .right a img {width:100%; height:auto; margin-bottom:10px; display:block;}
.contact-page .right #map_canvas {margin-bottom: 15px;}

.contact-page a.submit {
    float: right;
/* 

    border: 1px solid #5d6770;
    background: #5d6770;
    padding: 5px 35px;
    color:#ffffff;
    font-size:18px;
 */
}
/* .contact-page a.submit:hover {background: #C38839;  border: 1px solid #C38839;} */

#form_contact .required {border:1px solid red !important;;}
#fill_this_out {height:1px; width:1px; border:none; background-color:inherit;}
.tour-right {display:none;}
.with-tour .right {display:none !important;}
.with-tour .left {width:97%; margin-right:0;} 
.with-tour .tour-left {width:63.9%; float:left; margin-right:1%;} 
.with-tour .tour-right {display: block; width: 31%; float:right;}

/* Footer */

footer {color: #fff;}
footer {background: none repeat scroll 0 0 #5d6770;}


footer {
    padding:40px 20px;
    position: relative;
	z-index: 0;
}

footer .logo, 
footer .footer-left-menu, 
footer .footer-right-menu, 
footer .social-menu,
footer .equal-housing {
display: inline-block;
vertical-align: top;
width: 19%;
}

.logo > h4 {
    color: #fff;
    font-size: 19.81px;
    font-weight: 400;
    line-height: 50.938px;
    margin-top: -10px;
    padding-left: 4px;
    text-align: left;
}
.logo a h4 {
color: #fff;
padding-top: 5px;
}


.equal-housing {
	text-align: right;
	float: right;
	
}

.equal-housing img {margin-bottom:10px;}


.threshold:hover {
	opacity: .5;
}
.copyright {
    color: #fff;
    text-align: right;
    width: 100%;
}



footer .fine-print {
		font-size: 12px;
		text-align: right;
		margin-right: 0;
		width:55%;
		color: #fff;
		}
body  .fine-print{font-size: 12px; color: #fff; line-height:18px;}
body  .form-container .fine-print p {font-size: 18px;margin-left:6px;}
#hamburger {display:none; cursor:pointer;}

#mobile-menu {display:none; width:60%; max-width:320px; height:100%; background-color:#c38839; position:fixed; right:0px; top:0px; z-index:20001;}

/**/
.page-template-page-gallery-php .owl-pagination {}
.page-template-page-gallery-php .owl-theme .owl-controls { margin: 0; padding: 0; }
.owl-pagination { position: absolute; width: 100%; left: 0; bottom: 15px; }
.owl-theme .owl-controls .owl-buttons div.owl-prev { position: absolute; left: 0; top: 50%; margin: 0; padding: 0; font-size: 0; background:url('_images/global/sl-arrow-left.png') no-repeat left top; width: 57px; height: 114px; }
.owl-theme .owl-controls .owl-buttons div.owl-next { position: absolute; right: 0; top: 50%;  margin: 0; padding: 0; font-size: 0; background:url('_images/global/sl-arrow-right.png') no-repeat right top; width: 57px; height: 114px;}

.owl-carousel .owl-item img { width: 100%; height: auto; vertical-align: top; }

.gallery-title { padding: 90px 20px; }
.gallery-title p { margin: 0; padding: 0; }
/**/

/* Blog Start */
.page-title { margin: 0 0 15px; padding: 0; font-family: 'ostrich_sansblack'; color: #976828; font-size: 30px; line-height: 34px; }


.blog-left { float: left; width: 73%; background: #FFFFFF; border: solid 1px #b3b3b3; box-sizing: border-box; padding: 0 30px; margin: 0 0 30px;  }
.blog-left .full-bleed { border-bottom: solid 1px #b3b3b3; }
.single-post .blog-left .full-bleed { border: none; }
.blog-left .full-bleed h2 { margin:25px 0 15px; padding: 0; font-family: 'ostrich_sansblack'; color: #976828; font-size: 30px; line-height: 34px; }

.blog-left .full-bleed .post-thumb { margin: 0 0 15px; }
.blog-left .full-bleed .post-cont { margin: 0 0 15px}
.blog-left .full-bleed p { font-family: 'Vollkorn', serif; color: #666666; font-size: 16px; font-weight: 400; line-height: 24px; margin: 0; padding: 0 0 15px; }

.blog-left .full-bleed p a { color: #C38839; }

.blog-left .full-bleed p a:hover { color: #c16f57; }


.blog-left .full-bleed ul {
  margin-left: 35px;
}
.blog-left .full-bleed ul li {
  font-family: 'Vollkorn', serif;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0 0 15px;
}

.wp-pagenavi { padding: 20px; }
.wp-pagenavi .page-numbers { margin: 0; padding: 0; list-style: none; font-size: 0; line-height: 0; text-align: center;  }
.wp-pagenavi .page-numbers li { margin: 5px; padding: 0; display: inline-block; }
.wp-pagenavi .page-numbers li span, .wp-pagenavi .page-numbers li a { display: block; width: 30px; height: 30px; font-family: 'Vollkorn', serif; color: #FFFFFF; font-size: 16px; font-weight: 400; line-height: 30px; background: #976828; }
.wp-pagenavi .page-numbers li span:hover, .wp-pagenavi .page-numbers li a:hover { background: #b97416; }
.wp-pagenavi .page-numbers li span.current { background: #6b3e00; }



.blog-right { float: right; width: 25%; background: #FFFFFF; border: solid 1px #b3b3b3; box-sizing: border-box; padding: 0 30px 20px; margin: 0 0 30px;  }
.blog-right .widget-container { margin: 30px 0 0; }
.blog-right .widget-container .widget-title { font-family: 'ostrich_sansblack'; color: #976828; font-size: 30px; font-weight: 400; line-height: 24px; }


.blog-right .widget-container ul { margin: 15px 0 0; padding: 0; list-style: none; border-top: solid 1px #b3b3b3; }
.blog-right .widget-container ul li { border-bottom: solid 1px #b3b3b3; font-family: 'Vollkorn', serif; font-size: 14px; font-weight: 400; line-height: 22px; margin:0; }

.blog-right .widget-container ul li a { color: #976828; padding: 8px 5px 5px; display: inline-block; }

.blog-right .widget-container ul li a:hover { color: #c16f56;}

/* Blog Close */

.entry-content .tabs {border-bottom:10px solid #C38839; margin: 0; padding: 0; list-style: none; }

.entry-content .tabs li, .entry-content .tabs ul {list-style:none; }

.entry-content .tabs>li {float:left; color:#fff; background:#5c6770; margin-right:5px; padding:14px 1em 12px 1em; text-transform: uppercase; cursor:pointer; font-size:25px; line-height:28px; font-family: 'ostrich_sansblack';}

.entry-content .tabs li.selected {background:#C38839; cursor:default;}

.entry-content .tab-sections { margin: 0; padding:0; min-height:250px; box-sizing: border-box; }
.entry-content .tab-sections>li {display:none; list-style:none; padding:0; }
.entry-content .tab-sections>li:first-child {display:block;}


.entry-content .tab-sections { margin: 30px 0; padding: 0; list-style: none; }

.page-template-page-floorplans-php .entry-content { min-height: 400px; }
.entry-content .rooms { margin: 0; padding: 0; list-style: none; float: left; width: 50%;}
.entry-content .rooms li {list-style:none; margin: 0 0 10px;  }
.entry-content .rooms li .details {display:none; font-size:16px; line-height:22px; color:#767676; margin: 0; padding: 0; }
.entry-content .rooms li.selected-unit .details {display:block; }
.entry-content .rooms li h4 {cursor:pointer; font-weight:normal; margin-bottom:0; font-family: 'Vollkorn', serif;  font-size:22px; line-height:26px; color: #767676;  }

.entry-content .rooms li.selected-unit h4 { color:#C38839;}

.floorplan-image { width:100%; height:auto; margin:0px auto 15px auto; display:block; cursor:pointer; background:url('_images/global/loading.gif') no-repeat center;}
.floorplan-image-holder {float:right; width:46%; text-align:center; font-size:11px; line-height:13px; }
.error {color:red !important;}
.floors a { color: #C38839;}
.floors a:hover { color: #333; }

#mobile-button {display:none;}
.floorplan-image-holder img { margin:0 auto; width:auto; }

.floor-selector { text-align: center; float:right; width:68%; }
.floor-selector a { color: #649345; }
.floor-selector a:hover { color:#AE4839;}


.floor-selector li:hover { color: #AE4839; }
.floor-selector li { font-family: Montserrat; display: inline-block; list-style: none outside none; margin: 14px;    color: #649345; font-size: 0.8em;  }



#renderings-notes.floorplan-notes { color: #333; position: absolute; right: 22px; top: 62px; }
.enlarge-selector { color: #649345; float: right; margin-bottom: 10px; text-align: center; width: 68%; }
.fa.fa-search { color: #649345; margin-right: 10px; }
.fa.fa-search:hover { color: #AE4839 ; }
.fa.fa-search:previous { color: #649345 ; }





/** New Lightbox CSS for Floorplans **/
#lightbox {background-color:rgba(0,0,0,.8); width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:200000; display:none;}
#lightbox div.lb-content {color:#565656; width:60%; margin:0px auto;  text-align:center; padding:40px; margin-top:3%; font-size:18px; line-height:22px; position:relative; display:none; height:98%; }
#lightbox div.lb-content img {max-height:80%; max-width:90%; height:auto; width:auto;}
#lightbox div.close-lightbox {position:fixed; right:20px; top:20px; color:#fff; cursor:pointer; font-size:20px; line-height:21px;}

.its-a-table {height:100%;}

/** /WORKHORSE **/

#lightbox div.lb-content img {max-height:80%; max-width:90%; height:auto; width:auto;}
#lightbox div.close-lightbox {position:fixed; right:20px; top:20px; color:#fff; cursor:pointer; font-size:20px; line-height:21px;}
.its-a-table {height:100%;}


#map_menu {width:250px; height:100%; position:absolute; right:0px; top:0px;; background-color:rgba(255,255,255,.8);  overflow:auto;}
.info-window  a {color:rgb(195,136,57);}

#map_menu h3 {padding:3px 10px; color:#fff; background-color:#C38839; cursor:pointer; margin-bottom:5px}

.map-section {padding-bottom:0px;}
.map-menu-location {padding:5px 10px; border-bottom:1px solid #C38839; cursor:pointer;}

.all-subs {display:none;}
.map-menu-location:hover {background-color:rgba(195,136,57,.2);}
.map-section-inner {padding-top:150px;}
.info-window {min-width:200px;}
#map_menu .view-map {display:none; color:#C38839;}

/**/
.availability-buttons { margin: 10px 0 15px; }
.residences-inner { background: #FFF; border: solid 2px #d9d9d9;  }
.page-template-page-floorplans #content .inner {padding:0 15px 50px;}
.tab-wrapper { max-width: 770px; margin: 50px auto 0; }
.enlargeprint { color: #6e6e71; font-size:20px; line-height: 24px; margin-top: 20px; }
.enlargeprint a { color:#6e6e71 }
.enlargeprint a:hover { color:#C38839; }
.enlargeprint a:visited {
color: #6e6e71;
}
.floors { color: #6e6e71; font-size:14px; line-height: 20px; margin-top: 10px;}

.fancybox-overlay { z-index: 99999 !important; }
.fancybox-opened { z-index: 999999 !important; }
.fancybox-opened .fancybox-skin { padding: 30px 0 !important;}
.fancybox-close { background:url('_images/fancybox-close.png') no-repeat left top !important; width: 18px !important; height: 17px !important; top: 10px !important; right: 10px !important;  }
.fancybox-opened .fancybox-skin { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; border: solid 1px #667078; }
/**/

.orange-btn.sumbit {float:right} 





	#suite-selector {max-width:1160px; margin:0px auto 75px; border:2px solid #667179; border-top:0; }
	body.page-template-page-colinas-suite-selector #suite-selector {max-width:1160px; margin:0px auto 75px; border:2px solid #667179; border-top:0; padding: 0 0 25px; background: #fff; }
	body.page-template-page-colinas-suite-selector .restore-map { bottom: -2%; left: 2%; position: absolute; }
	#suite-selector-menu { position:relative; }
	#suite-selector-menu:after { content:""; display:block; width:2px; height:100%; position:absolute; left:-2px; top:0; background-color:#c38839; }
    #suite-selector-menu ul {list-style:none; font-size: 0; letter-spacing: -1px; margin-left:0px; padding-bottom:0px;  font-family: 'ostrich_sansblack';}
	#suite-selector-menu ul li.ss-main {display:inline-block; width:25%; vertical-align:top; color:#fff; background-color:#c38839; letter-spacing:normal; font-size:24px; line-height:58px; height:58px; text-align:center; border-right:1px solid #fff; cursor:pointer; position:relative;}
	#suite-selector-menu ul li.ss-main .up {display:none;}
	#suite-selector-menu ul li.ss-main ul {background-color:#fff; position:absolute; top:58px; left:0px; font-size:20px; line-height:28px; color:#5c6770; width:100%; display:none; text-transform:uppercase; z-index:100; }
	#suite-selector-menu ul li.ss-show-sub ul {display:block;}
	#suite-selector-menu ul li.ss-show-sub .up {display:inline;}
	#suite-selector-menu ul li.ss-show-sub .down {display:none;}
#suite-selector-menu ul ul { padding: 0 0 10px; }	
#suite-selector-menu ul ul li {display:block; text-align:left; padding:13px 15px; font-size: 21px; }

#suite-selector-menu ul ul input[type=checkbox] {}
	#suite-selector-menu ul ul input[type=checkbox]:checked {  }

#suite-selector-menu ul ul input[type=checkbox] {
    display:none;
}
#suite-selector-menu ul ul input[type=checkbox] + label span:before {
	content: "";
    display:inline-block;
    width:19px;
    height:19px;
    margin:0 10px 0 0;
    vertical-align:middle;
    background:#FFF;
	border: solid 1px #5c6770;
    cursor:pointer;
}
#suite-selector-menu ul ul input[type=checkbox]:checked + label span:before {
    background:#5c6770;
}

	#my-loader { text-align: center; position: relative; min-height: 673px; position: absolute; top: 59px; left: 0;  width: 100%; z-index: 9; background: #FFF;  }
	#my-loader .loader-img { position: absolute; top: 50%; left: 50%; margin: -30px 0 0 -30px;  }
	#suite-selector .ss-left, #suite-selector .ss-right {display:inline-block; vertical-align:top;}
	#suite-selector .ss-left {width:64%; float:left; }
	#suite-selector .ss-right {width:36%; background-color:#fff; float:right; position: relative; }
	#suite-selector #ss-map { position:relative;}
	#suite-selector #map-image {width:100%; height:auto; display:block; position:relative; z-index:0;}
	#suite-selector #map-canvas {position:absolute; top:0px; left:0px; width:100%; z-index:10;}
	#available-apartments-header {color:#fff; height:59px; text-align:center; font-family: 'Unica One', cursive; background-color:#c38839; width:100%; font-size:20px; line-height:67px; position:relative; }
	#available-apartments-header:after { content:""; display:block; width:2px; height:100%; position:absolute; right:-2px; top:0; background-color:#c38839; }
	#available-apartments-header .view-all { font-size: 12px; line-height: 1; text-align: right; display: inline-block; color: #FFF; margin: 30px 18px 0 0; float: right; }	
.building-type-1 {width:8%; height:14%; }
	.building-type-2 {width:11.5%; height:14.5%;}
	.building-type-3{width:11.5%; height:15%; -webkit-clip-path: polygon(1% 0%, 99% 0%, 99% 49%, 49% 50%, 49% 100%, 0% 99%);
		clip-path: polygon(1% 0%, 99% 0%, 99% 49%, 49% 50%, 49% 100%, 0% 99%);}
		.building-type-4 {width:12.5%; height:8%;}
		.building-type-5 {width:9.5%; height:8%;}
		.building-type-6 {width:11.5%; height:15%;-webkit-clip-path: polygon(0% 0%, 99% 0%, 100% 99%, 44% 100%, 43% 53%, 0% 52%);
clip-path: polygon(0% 0%, 99% 0%, 100% 99%, 44% 100%, 43% 53%, 0% 52%);}
.building-type-7 {width:7%; height:9.8%;}
	
	.building-1 {left:22%; top:37%;}
	.building-2 {left:22%; top:52%;}
	.building-3 {left:8%; top:24%;}
	.building-4 {left:22%; top:21%;}
	.building-5 {left:8%; top:39%;}
	.building-6 {left:8%; top:54%;}
	.building-7 {left:34%; top:21%;}
	.building-8 {left:47%; top:21%;}
	.building-9 {left:57%; top:21%;}
	.building-10 {left:62%; top:37%;}
	.building-11 {left:62%; top:47.5%;}
	.building-12 {left:62%; top:58%;}
	.building {position:absolute; background-color:rgba(255,255,255,.5); opacity:0; cursor:pointer;}
	.building:hover {opacity:1 !important;}
    
    
    
    
    
/**/
    .appartment-list-sec .mCSB_scrollTools .mCSB_draggerRail { width:15px; background:#e6e6e6; }
    .appartment-list-sec .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width:15px; background:#cccccc !important; }

.appartment-list-sec.content{
    margin:15px 0;
	overflow: auto;
	position: relative;
    height: 645px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

ul.appartment-list { margin:0 38px 0 25px; padding:0; list-style:none;  }
ul.appartment-list li { margin:0 0 24px; padding:0 0 19px 24px; font-family:'Vollkorn',serif; font-size:22px; line-height:33px; color: #666666; border-bottom:solid 1px #99a0a6; background:url('_images/appartment-bullet.png') no-repeat left 5px; }
ul.appartment-list li:last-child { margin-bottom: 0; border:none;  }
ul.appartment-list li span { color: #c16f56; display:block; }
ul.appartment-list li a { color:#c16f56; font-size:22px; }    
ul.appartment-list li a:hover { color:#666666; }  





/* popup */
#backgroundPopup { 
	z-index:99999;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
.popup-sec {	
	background:#FFFFFF;
    display: none;	
    left: 50%;
    margin-left: -351px;
    position: fixed;
    top: 30%;
    width: 700px;
    z-index: 999999;
	border: solid 1px #667078;
	-webkit-box-shadow: 7px 12px 27px rgba(0,0,0,.75);
	-moz-box-shadow: 7px 12px 27px rgba(0,0,0,.75);
	box-shadow: 7px 12px 27px rgba(0,0,0,.75);
}
.popup-sec div.loader {
    background: url(img/loading.gif) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
.popup-sec div.close {
    background: url(img/closebox.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 17px;
    right: 10px;
	top: 10px;
    position: absolute;
    width: 18px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

.popup-content { padding: 30px 50px 55px}

.popup-left { float: left; width: 38%; }
.popup-left h3 { margin: 0 0 18px; padding: 0; font-family: 'Unica One', cursive; color: #c38839;  }
.popup-left ul { margin: 0 0 20px 26px; padding: 0; font-family: 'Vollkorn',serif; font-size: 24px; color: #666666; list-style: disc outside; font-weight: 400; }

.popup-right { float: right; width: 61%; }
.popup-right img { display: block; width: 100%; height: auto;  }
.popup-btn { text-align: center; padding: 30px 0 0; }




/**//**/
.aptlisting-sec  {  margin: 0px 7px 75px; border: 2px solid #667179; border-top: 0; width: 100%; background: #FFF; }
.aptlisting-sec .aptlisting-col  { float: left; width: 33.3333%; box-sizing: border-box; border-right: solid 1px #FFF; background: #FFF; padding:0;  }
.aptlisting-sec .aptlisting-col.aptlisting-col-2 { background: #f2f2f2; }
.aptlisting-sec .aptlisting-col.aptlisting-col-3 { float: right; border: none; }
.aptlisting-col .floor-title { margin: 0 0 44px; }
.floor-title h2 { color: #fff; text-align: center; font-family: 'Unica One', cursive; background-color: #c38839; height: 64px; font-size: 30px; line-height: 64px; position: relative;}
.aptlisting-col-1 .floor-title h2:before { display: block; content: ""; position: absolute; left: -2px; top: 0; width: 2px; height: 100%; background-color: #c38839; }
.aptlisting-col-3 .floor-title h2:after { display: block; content: ""; position: absolute; right: -2px; top: 0; width: 2px; height: 100%; background-color: #c38839; }

.apt-list { padding: 0 45px 45px; font-family: 'Vollkorn',serif; min-height: 215px; }

.apt-image { float: left; width:37%;  }
.apt-image img { margin: 0 0 3px; }
.apt-image span { font-size: 12px; display: block; text-align: center; color: #666666;  }
.apt-image span:hover { color: #c16f56; }

.apt-detail { float: right; width: 56%; }
.apt-detail span { display: block; font-size: 18px; line-height: 25px; color: #666666;  }
.apt-detail span.apt-links { font-size: 14px; color: #c16f56; margin: 6px 0 0; }




/* popup */
.floor-popup-sec {	
	background:#FFFFFF;
    display: none;	
    left: 50%;
    margin-left: -517px;
    position: fixed;
    top: 22%;
    width: 1032px;
    z-index: 999999;
	border: solid 1px #667078;
	-webkit-box-shadow: 7px 12px 27px rgba(0,0,0,.75);
	-moz-box-shadow: 7px 12px 27px rgba(0,0,0,.75);
	box-shadow: 7px 12px 27px rgba(0,0,0,.75);
}
.floor-popup-sec div.loader {
    background: url(img/loading.gif) no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
.floor-popup-sec div.close, #sb-nav-close {
	display: block;
    background: url(img/close-new.png) no-repeat scroll 0 0 transparent !important;
    cursor: pointer;
    float: right;
    height: 27px;
    right: 20px;
	top: 20px;
    position: absolute;
    width: 27px;
	z-index: 99;
}

.floor-popup-content { padding: 55px 8%; }
.floor-popup-left { float: left; width: 32%; }
.floor-popup-right { float: right; width: 66%; }

.floor-popup-left h3 { margin: 0 0 2px; padding: 0; color: #c38839; font-weight: 400; font-family: 'Unica One', cursive;  font-size: 36px; line-height: 1;  }
.floor-popup-left ul { margin: 0 0 45px 22px; padding: 0; font-family: 'Vollkorn',serif; font-size: 24px; color: #666666; list-style: disc outside; font-weight: 400; }
.availability-link { text-align: center; margin: 30px 0 0; }
.availability-link a { margin: 0 0 2px; padding: 0; color: #c38839; font-weight: 400; font-family: 'Unica One', cursive;  font-size: 36px; line-height: 1;  }


   
.lightbox2 {height: 100%; width:100%; background: rgba(0,0,0,.8); position:fixed; top: 0px; left: 0px; z-index:200000;}    
.lightbox2-inner {display:table-cell; height:100%; width:100%; vertical-align:middle;}
.lightbox2-content {border: 1px solid #000; background-color:#fff; width:90%; max-width:450px; margin:0px auto; position:relative; z-index:20001;}
.lightbox-table {height: 100%; width:100%; display:table;}
.lightbox2 img {width:100%; height:auto; }
.close-lightbox2 {font-size:14px; line-height:32px; position:absolute; top:-20px; right:-20px; background:#fff; width:32px; padding-top:0px; height:32px; color:#000; border-radius:50%; -webkit-border-radius:50%; text-align:center; text-transform:uppercase; cursor:pointer; font-family:Arial, Helvetica, sans-serif; }

/**//**/


@media (max-height:700px) {
	.floor-popup-sec { position: absolute; top: 50px; margin-bottom: 50px; }
}

@media (max-width:767px) {
	#backgroundPopup { display: none !important; }
	.apt-list { position: relative; }
	.floor-popup-sec { position: absolute; top: 50px; margin-bottom: 50px; }
}


@media (max-width:1100px){ 
	.floor-popup-sec { left: 5%; width: 90%; margin: 0 0 50px; top: 50px;  }
	.apt-list { padding: 45px 25px 0; }
	
}
@media (max-width:900px){
	
#map_canvas {background: none;
overflow: hidden; }

#map_menu {width:94%; margin:0px auto; padding:0px; height:auto; position:relative; top:auto; right:auto; }
	.all-subs {display:block;}
	#map_menu .view-map {display:inline;}
	
}
/* Mobile */
@media (max-width:1240px){
	#header {background-size:auto 100%; background-position:2100px 0px;}
	
	
}
@media (max-width:1190px){
	.inner {
		margin: 0 auto;
		width: 100%;
		max-width:1180px;
		padding: 0 15px; 
		box-sizing: border-box;
	}
	
	#home-logo-holder img {
	display: block;
	width: 22%;
	margin: -150px auto 0;
	}
}

@media (max-width:1150px){
	 #header  {background-position: -876px 0px;}
	.header-banner {margin-top:33px;}
}
@media (max-width:1024px){

	#home-logo-holder {top:50%;}
	 #home-logo-holder img{
		margin: -70px auto 0;
		width: 20%;
	}
	
	.main-pattern-section{
		padding: 70px 20px;
	}
	body p { font-size: 14px;
		line-height: 22px;
		padding-bottom: 10px;
	}
	.main-pattern-section .left p {
		padding: 0 0 15px;
	}
	.logo > h4 {
		font-size: 14px;
	}
	#menu-main-menu li a, #menu-footer-left-menu li a, #menu-footer-right-menu li a {
		font-size: 17px;
	}
	.privacy-menu {
		font-size: 12px; 
		
	}
	.copyright {
		font-size: 12px;
	}
}
@media (max-width:950px){
	#menus-right {display:none;}
	#mobile-menu {display:block;}
	#hamburger {display:block; color:#fff; font-size:30px; line-height:151px; float:right;}
	
	.header-banner {margin-top: 21px;padding-right: 30px;}
	
	h2 { font-size: 22px; font-weight: 400; line-height: 26px; padding-bottom: 10px; }
	
	.blog-left { width: 67%; }
	.blog-right { width: 31%; }
	#content { padding-top: 130px; }
	.page-template-page-neighbothood-php #content {padding-top: 90px;}

	#owl-demo .item {height:600px}
	
	
	
	#home-logo-holder img {
	width: 19%;
	margin: -70px auto 0;
	}
	.apt-list { }
	.apt-image { float: none; width: 100%; text-align: center; margin: 0 0 20px; }
	.apt-image img { display: inline-block; }
	.apt-detail { float: none; width: 100%; text-align: center;  }
	
}


@media (max-width:850px){
	 #header {height:100px; background-position:1420px 0px;}
	.map-section-inner {padding-top:100px;}
	#hamburger {font-size:25px; line-height:100px;}
		.col1, .col2 {
		display: block;
		margin: 0 0 20px;
		padding: 0;
		width: auto;
	}
	.header-banner {margin-top: 17px;}
	.site-logo {
		height: 87px;
	}
	.tab-wrapper {
		margin: 20px 20px 0;
	}
	 .page-template-page-home  #slider-holder {
		margin-top: 90px;
	}
}
@media (max-width:767px){
	.site-logo { height: 70px;}
	
	#home-slider .item {
		height: 700px; background-size: cover; background-position:  center top; 
		}
	#home-slider .item img { display: none !important; }
	.owl-theme .owl-controls .owl-page span { margin: 5px; }
	
	.page-template-page-gallery-php .item { height: 350px; background-size: cover; background-position:  center top; }
	.page-template-page-gallery-php .item img { display: none !important; }

	.owl-theme .owl-controls .owl-buttons div.owl-prev { width: 25px; height: 50px; background-size: cover; }
	.owl-theme .owl-controls .owl-buttons div.owl-next { width: 25px; height: 50px; background-size: cover; }
	
	.page-template-page-gallery-php .owl-pagination { display: none; }
	
	.gallery-title { padding: 40px 20px 30px; }
	.gallery-title p { font-size: 22px; font-weight: 400; line-height: 26px; padding-bottom: 10px; }
	
	.main-pattern-section .left {
		border: none;
		border-bottom: 2px solid #999;
		float: none;;
		padding: 0 0 40px;
		margin: 0 0 40px;
		width: auto;
	}
	.main-pattern-section .right {
		float: none;
		padding: 0;
		width: 100%;
		text-align: center;
		
	}
	.main-pattern-section .right .orange-btn {margin-right: 0 !important; margin-bottom:10px;}

	.main-pattern-section .left .orange-btn {margin-right: 0 !important; margin-bottom:10px;}
	.main-pattern-section .left .buttons {text-align:center;}
	 .featured-page .right h2 {margin-right: 0px;}
	.content-box-left {
		display: block;
		vertical-align: top;
		width: auto;
		margin: 0 0 30px;
		text-align: center;
	}
	.content-box-right {
		display: block;
		vertical-align: top;
		width: auto;
		margin: 0 0 30px;
		
	}
	
	
	
	.main-pattern-section {
		padding: 70px 20px 0px;
	}
	
	
	footer .logo, footer .footer-left-menu, footer .footer-right-menu, footer .social-menu, footer .equal-housing, footer .threshold, footer .fine-print {
		display: block;
		text-align: center;
		vertical-align: top;
		width: 100%;
		margin: 0 0 10px;
	}
	footer .copyright {
	margin-top: 0px;
	}
	
	footer .inner ul {
		margin: 0 auto;
	}
	#menu-footer-left-menu li, #menu-footer-right-menu li { padding-left: 0; }
	.logo > h4 {
		margin: 0; 
		padding: 0; 
		text-align: center;
	}
	.equal-housing > img { float: none;}
	.copyright { text-align: center; margin-top: -30px; }
	.privacy-menu #menu-privacy-menu { 
		float: none; 
		text-align: center;
	}
	
	.entry-content .col1 ul li, .entry-content .col2 ul li {
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px;
}
	.col2 small {
    font-size: 13px;
}
	
	.main-pattern-section.featured-page {
    padding: 30px 0;
}
	
	/**//**/
	#content { padding-top: 100px; }
	.page-template-page-neighbothood-php #content {padding-top: 75px;}
	.blog-left { width: auto; float: none; padding: 0 25px; }
	.blog-right { width: auto; float: none; padding: 0 25px 20px; }
	.page-title { font-size: 22px; line-height: 26px; }
	.blog-left .full-bleed h2 { font-size: 20px; line-height: 24px; }
	.blog-right .widget-container .widget-title { font-size: 20px; line-height: 24px; }

	/**/
	.aptlisting-sec .aptlisting-col { width: 100%; }
	.aptlisting-col-1 .floor-title h2:before, .aptlisting-col-2 .floor-title h2:before, .aptlisting-col-3 .floor-title h2:before { display: block; content: ""; position: absolute; left: -2px; top: 0; width: 2px; height: 100%; background-color: #c38839; }
	.aptlisting-col-1 .floor-title h2:after, .aptlisting-col-2 .floor-title h2:after, .aptlisting-col-3 .floor-title h2:after { display: block; content: ""; position: absolute; right: -2px; top: 0; width: 2px; height: 100%; background-color: #c38839; }

	/**/
	.floor-popup-left { float: none; width: 100%; margin:0;}
	.floor-popup-right { float: none; width: 100%; margin:0;}
	
	.floor-popup-content { padding: 8%; }
	.floor-popup-left h3 { font-size: 30px; }
	.floor-popup-left ul { font-size: 20px; margin-bottom:20px }
	body .floor-popup-left p { font-size: 20px; line-height: 26px; margin-bottom: 20px;   }
	.availability-link a { font-size: 20px; }
	/**/
	
}

.floorplan-image-holder-mobile { display:none;}

@media (max-width:740px){
	.header-banner {
	position: absolute;
	right: 0;
	top: 87px;
	}
}

@media (max-width:650px){
	#mobile-menu {display:block;}
	 #header {height:80px; background-position:1120px 0px;}
	#hamburger {font-size:22px; line-height:80px;}
	.header-banner {top: 68px;}
	
	.entry-content .tabs > li { margin: 3px 3px 0 0; padding: 11px 10px 9px; font-size: 12px; }
	
	.entry-content .rooms { width: 100%; }
	.entry-content .tab-sections > li { padding: 10px; }
	.entry-content .rooms li { margin: 0 0 10px; }
	.entry-content .rooms li h4, .entry-content .rooms li.selected-unit h4 { font-size: 16px; line-height: 16px; }
	.floorplan-image-holder { width: 100%; display:none;}
	.floorplan-image-holder-mobile { width: 100%; display:inline-block;}
	
	.entry-content .rooms li.selected-unit .details {
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: 10px;
	}
	.rooms li h4 {
		text-align: center;
	}

	.floorplan-image-holder-mobile .floorplan-image { margin: 0 auto; width: 40%; }
	#owl-demo .item {height:300px}
	
	.availability-buttons .orange-btn { width: 85px; height: 35px; background-size: cover; font-size: 9px; line-height: 34px;  }
	.enlargeprint { font-size: 12px; }
	
	.wood-grain-section {min-height:0px !important; padding: 0;}
	.wood-grain-section .entry-content { padding: 20px;}
	
	#home-logo-holder img  {
	width: 21%;
	margin: -70px auto 0;
	}
	#home-slider .item { height: 350px; background-size: cover; background-position:  center top; }
	.entry-content .rooms li .details {
		font-size: 14px;
		line-height: 15px;
		margin-top: 6px;
	}
	
	.page-template-page-floorplans #content, .page-template-page-contact #content {padding-top:100px;}
	.page-template-page-features #content {padding-top:150px;}
	#lightbox div.lb-content {width: 100%;}
	#lightbox div.lb-content img {max-width: 100%; max-height: 100%;}
	 .page-template-page-home  #slider-holder {
		margin-top: 70px;
	}
}

@media (max-width:575px) {
.header-banner {  display: none;}
	 .wood-grain-section .entry-content {
		padding: 75px 0px 40px;
	}
	.print_pdf_lnk {display: block;}
	.main-pattern-section .left {padding-bottom: 0;}
}

/** /WORKHORSE **/

.fake-checkbox {display:inline-block; border: 1px solid #5d6770; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; padding:2px; width: 25px;
height: 25px;}
.fake-checkbox span {display:block;  height:100%; border-radius: 50%;
-moz-border-radius: 50%;
 -webkit-border-radius: 50%;}
.fake-checkbox span {display:block; }
.fake-checkbox.checked span {background-color: #C38839;}

/* new real checkbox*/


.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border:1px solid #5d6770;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
	border-radius: 50%;

}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #D6A282;
    box-shadow: inset 0px 0px 0px 4px #fff;
	border-radius: 50%;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
    border-radius: 50%;

}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

/* End new real checkbox */

#form_contact input[type=checkbox] {
background-color: #fff;
width: 25px;
height: 25px;
border: 3px solid #fff;
margin-right: 10px;
border: 1px solid #5d6770;
border-radius: 50%;
-moz-border-radius: 50%;
 -webkit-border-radius: 50%;
padding:2px;
}
#form_contact input {
	appearance: none;
-webkit-appearance: none;
border-radius: 0%;
-webkit-border-radius: 0%;
border: 0px;
}

#form_contact input[type=submit] {
	background-image: url("/wp-content/themes/workhorse-boilerplate/_images/global/btn-orange-curved.png");
	background-color: #fff;
	background-position: center top;
	padding: 0;
	background-repeat: no-repeat;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Unica One', cursive;
	font-size: 18px;
	line-height: 85px;
	width: 206px;
	height: 85px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

#form_contact input[type=submit]:hover {
	opacity: 0.7;
}




 .social-icons li a:hover {
	color: #C38839;
}


.content-box-right {
	overflow: hidden;
}


::-webkit-input-placeholder {
font-size: 18px;
line-height: 22px;
font-family: 'Vollkorn', serif;
color: #666666;
}



:-moz-placeholder { /* Firefox 18- */
font-size: 18px;
line-height: 22px;
font-family: 'Vollkorn', serif;
color: #666666; 
}

::-moz-placeholder {  /* Firefox 19+ */
font-size: 18px;
line-height: 22px;
font-family: 'Vollkorn', serif;
color: #666666; 
}


:-ms-input-placeholder {  
font-size: 18px;
line-height: 22px;
font-family: 'Vollkorn', serif;
color: #666666;  
}

a:visited.orange-btn {
color: #fff;
}

.entry-content {
padding-bottom: 40px;
}


.orange-btn .submit{
float:right; margin-right: 40px; margin-top: 0;
}


@media (max-width:800px){
/* 
	.orange-btn .submit{
	float:right; margin-right: 1px; margin-top: 0;
	}
 */

	.contact-page {
		text-align: center;
	}
	.contact-page a.submit {
		float: none;
		text-align: center;
		margin: 20px auto 0;
	}
	#form_contact input.two-col[type=text], #form_contact select.two-col {
		width: 100%;
		margin-right: 0;
		float: left;
	}
}

@media (max-width:900px) { 
	.contact-page .left {
		width: 100%;
		padding: 40px 3% 40px 3%;
	}
	.contact-page .right {
		width: 100%;
	}
	.with-tour .tour-left {
		width: 100%;
		float: none;
	}
	.with-tour .tour-right {
		width: 100%;
		float: none;
	}
}
.fine-print {
width: 95%;
padding: 15px 0;
clear: both;
margin: 0 auto;
}
body  .fine-print p  {
font-size: 12px;
line-height: 18px;
}


    #home-slider .item img{
        display: block;
        width: 100%;
        height: auto;
    }





 #lightbox div.lb-content {background:#fff;}


.three-col-list {padding:0px; margin:0px !important; list-style:none; }
.three-col-list li {width:24%; display:inline-block; vertical-align:top; padding-left:0px;}
@media (max-width:900px) { 
	.three-col-list li {width:100%; }
}

#renters-voice {
  margin-top: 50px;
  font-size:0;
}

#renters-voice .renters-voice-text, #renters-voice .renters-voice-image {
  display: inline-block;
  vertical-align: top;
}
#renters-voice .renters-voice-image {
  width: 50%;
}
#renters-voice .renters-voice-text {
  width: 50%;
}

#renters-voice .renters-voice-image img:hover {
  opacity: .7;
}





#renters-voice img {
  width: 80%;
  margin: -40px 0 0 20%;
  text-align: center;
}

#lightbox div.lb-content iframe {
  height: 60%;
  width: 100%;
  background: #fff;
  padding: 20px;
}

#menu-top-menu {margin-left: 0;padding-bottom: 0;}
.header-phone {display: inline-block;margin-top: 6px;}

 .header-phone {margin-top: 4px;}

#header .open-apply, #header .apply  {
  background: #ffffff;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #C38839;
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
}

#header .open-apply:hover, #header .open-apply:hover a , #header .apply:hover, #header .apply:hover a {
  background: #C38839;
  color:#ffffff;
  text-decoration: none;
}


#openUpThisOne.mobile-widget .entry-content{
	background:url('_images/global/pattern-01.jpg');
	height: auto;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	border: 10px solid #C38839;
	padding: 20px;
}

#openUpThisOne.mobile-widget .entry-content h1 {
  	color: #C38839;
  	font-weight: normal;
  	margin-bottom: 0;
  	font-family: 'Vollkorn', serif;
}

#openUpThisOne.mobile-widget .entry-content p{
	font-size: 30px;
  	line-height: 45px;
    font-family: 'Vollkorn', serif;
  	color: #666666;
  }
  
 #openUpThisOne.mobile-widget .entry-content a {
	color: #C38839;
} 
  
  
#openUpThisOne .close, #openUpThisOne.mobile-widget .close  {
  position: absolute;
  top: 1%;
  right: 3%;
  color:#666;
}  
 
#openUpThisOne.mobile-widget #widget-holder {  margin-top: 25px; background: none;}

.back-suite-button {
  margin-bottom: 10px;
  text-align: right;margin-right: -7px;
}
.back-suite-button a {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d6a282;
  padding: 7px 10px 2px;
    color: #d6a282;
    font-family: "ostrich_sansblack";
    font-size: 17px;
    letter-spacing: 1px;
   text-align: center;
}
 .back-suite-button a:hover{background: #d6a282; color: #fff;}

.available-unit-ids {
  color: #333;
  display: none;
  /* left: 14px; */
  word-break: break-all;
  padding: 20px;
  font-size: 14px;
  background-color: #FFF;
  margin: 20px 20px 60px;
  border-radius: 25px;
    
    
}